{% extends 'base.html.twig' %}

{% block title %}Liste des contacts dans la catégorie{% endblock %}

{% block body %}
    <h1>Liste des contacts dans la catégorie</h1>
    {{ include('/contact/_contacts.html.twig', {contacts: category.contacts, show_category: false}) }}
{% endblock %}
